<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <meta charset="UTF-8">
</head>
<!--메인 페이지 고유 CSS 추가-->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/ordersheet.css}">
</th:block>
<!--메인 페이지 고유 스크립트 추가-->
<th:block layout:fragment="script">
    <script th:src="@{/js/page/order/ordersheet_member.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>
<div layout:fragment="content">
    <div class="main">
        <div class="order-table">
            <b style="margin-right: 200px;">주문 상품</b>
            <span style="margin-right: 300px" th:text="'총 '+ ${totalOrderCount}+'개'"></span>
            <!--            보기 버튼을 누르면 주문 상품 보여지고, 다시 누르면 안 보여짐-->
            <button onclick="toggleTable()">보기</button>

            <table style="display: block">
                <tbody>
                <tr class="book-info"
                    th:each="wrapperResponse : ${wrapperSelectResponseList}">
                    <td><img
                            th:src="${wrapperResponse.imgUrl}"
                            alt="Book Image" width="80px" height="120px"></td>
                    <td class="book-title" th:id="${wrapperResponse.bookId}"
                        th:text="${wrapperResponse.bookTitle}"></td>
                    <td class="quantity" th:id="${wrapperResponse.wrapperName}"
                        th:text="${wrapperResponse.quantity}+'개'"></td>
                    <td>
                        <span class="bookCost" style="text-decoration: line-through;"
                              th:text="${wrapperResponse.cost}+'원'"></span><br>
                        <span class="bookDiscountCost"
                              th:text="${wrapperResponse.discountCost}+'원'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="delivery">
            <b style="font-size: large">배송 주소</b>
            <hr>
            <div class="delivery-info">
                <label>이름</label><br>
                <label>배송 주소</label><br><br><br><br>
                <label>휴대폰</label><br>
            </div>
            <div class="delivery-input-member">
                <input id="name" type="text" onblur="validateName()">
                <span id="name-error" class="error" style="color: red; display: none"></span><br>
                <input type="text" id="sample6_postcode" placeholder="우편번호" onclick="validateDelivery()">
                <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기"><br>
                <input type="text" id="sample6_address" placeholder="주소">
                <span id="delivery-error" class="error" style="color: red; display: none"></span>
                <br>
                <input type="text" id="sample6_detailAddress" placeholder="상세주소" onclick="validateDelivery()">
                <input type="text" id="sample6_extraAddress" placeholder="참고항목" onclick="validateDelivery()">
                <input id="phone-number" type="text" placeholder="- 없이 입력해주세요" onblur="validatePhoneNumber()">
                <span id="phone-error" class="error" style="color: red; display: none"></span><br>
            </div>
            <hr>
        </div>
        <div class="delivery-select">
            <b style="color: white">배송일 선택 (도착 예상일)</b><br>
            <div th:each="estimatedDate : ${estimatedDateList}">
                <button onclick="selectDeliveryDate(this)" th:text="${estimatedDate}"
                        th:value="${estimatedDate}"></button>
            </div>
            <div>
                <button onclick="selectDeliveryDate(this)" value="none">선택 안 함</button>
            </div>
            <br>
        </div>
        <span style="font-size: smaller; margin-left: 70%">선택안함 선택 시 가장 빠른 배송일에 배송</span>
        <hr>
        <div class="coupon-select">
            <b style="margin-right: 40%; color: white">할인 쿠폰</b>
            <select id="selected-coupon">
                <option value="null" selected>선택 안함</option>
                <th:block th:each="availableCoupon : ${availableMemberCoupons}">
                    <option class="usable-coupon" th:id="${availableCoupon.couponDto.discountType}"
                            th:value="${availableCoupon.couponDto.id}"
                            th:name="${availableCoupon.couponDto.maxDiscountCost}"
                            th:text="${availableCoupon.couponDto.name} +'  '+ ${availableCoupon.couponDto.discountCost}"></option>
                </th:block>
                <th:block th:each="unavailableCoupon : ${unavailableMemberCoupons}">
                    <option class="disable-coupon" th:id="${unavailableCoupon.couponDto.discountType}" disabled
                            th:value="${unavailableCoupon.couponDto.id}"
                            th:text="${unavailableCoupon.couponDto.name}+'  '+ ${unavailableCoupon.couponDto.discountCost}"></option>
                </th:block>
            </select>
        </div>
        <hr>
        <div class="point-use">
            <b style="margin-right: 15%; color: white">포인트</b>
            <span style="color: white">보유 포인트 :</span>
            <span id="my-point" style="color: white; margin-right: 20%" th:text="${point}+' P'"></span>
            <input id="point" type="text" style="margin-right: 2%">
            <button style="border: none; border-radius: 3px" onclick="usePoint()">사용</button>
        </div>
    </div>

    <div class="side">
        <br>
        <label class="info">상품 금액</label><label class="price" id="productAmount">0 원</label><br>
        <label class="info">할인 금액</label><label class="price" id="discountCost">0 원</label><br>
        <label class="info">포장비</label><label class="price" id="wrapCost" th:text="${wrapCost}+' 원'"></label><br>
        <label class="info">배송비</label><label class="price" id="deliveryCost">0 원</label><br>
        <label class="info">포인트 사용 금액</label><label class="price" id="usedPoint">- 0 P</label><br>
        <label class="info">쿠폰 할인 금액</label><label class="price" id="usedCouponCost">- 0 P</label><br>
        <hr>
        <label style="font-size: x-small; margin-left: 60%">3만원 이상 주문 시 배송비 무료</label><br>
        <br>
        <label class="info">최종 결제 금액</label><label class="price" id="finalPayment">0 원</label><br><br>
        <button type="button" class="pink-button" onclick="validateDeliveryAndProceed()">결제 하기</button>
    </div>
</div>
</html>
