<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <meta charset="UTF-8">


</head>
<!-- 메인 페이지 고유 CSS 추가-->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/selectWrapper.css}">
</th:block>
<!-- 메인 페이지 고유 스크립트 추가-->
<th:block layout:fragment="script">
    <script th:src="@{https://code.jquery.com/jquery-latest.js}"></script>
    <script th:src="@{/js/page/selectWrapper.js}"></script>
</th:block>
<div layout:fragment="content" class="container">
    <div class="main">
        <!--        주문상품 표시-->

        <div>
            <b style="margin-right: 200px;">주문 상품</b>
            <span style="margin-right: 300px">총 <span th:text="${totalOrderCount}"></span> 개</span>
            <!--            보기 버튼을 누르면 주문 상품 보여지고, 다시 누르면 안 보여짐-->
            <button onclick="toggleTable()">보기</button>
        </div>
        <div>
            <table class="order-table" style="display: block">
                <tbody>
                <tr th:each="bookResponse : ${beforeOrderBookResponseList}">
                    <td class="order-table-td"><img
                            th:src="${bookResponse.imageUrl}"
                            alt="Book Image" width="80px" height="120px"></td>
                    <td class="order-table-td" th:text="${bookResponse.title}"></td>
                    <td class="order-table-td" th:text="${bookResponse.quantity}+'개'"></td>
                    <td class="order-table-td">
                        <span style="text-decoration: line-through;" th:text="${bookResponse.cost}"></span><br>
                        <span th:text="${bookResponse.discountCost}+'원'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--        포장지 선택-->
        <div style="text-align: center">
            <hr>
            <b>포장지 선택</b>
        </div>


        <div class="wrappers" style="margin: 10px"
             th:each="bookResponse : ${beforeOrderBookResponseList}">
            <b th:text="${bookResponse.title}"></b>
            <br>
            <div class="select" style="margin: 10px;">
                <div class="wrapper-select" th:each="wrapper : ${wrapperList}">
                    <input type="radio" th:id="${wrapper.cost}" th:name="${bookResponse.title}"
                           th:value="${bookResponse.quantity}" onclick="updateWrapCountAndCost()">
                    <label th:for="${wrapper.cost}" th:text="${wrapper.name}"></label>
                </div>

            </div>
        </div>

        <div id="wrapperData" th:attr="data-wrapperList=${wrapperList}" style="display: none;"></div>
        <div id="bookResponseList" th:attr="data-bookResponseList=${beforeOrderBookResponseList}"
             style="display: none;"></div>

    </div>
    <div class="side">
        <div style="text-align: center">
            <br><br>
            <span>포장 책 권수</span><span style="margin-left: 120px" class="wrapBookCount"></span><br><br>
            <span>선택 포장 총액</span><span style="margin-left: 110px" class="totalWrapCost"></span><br><br>
            <!--            주문서 작성 단계로 넘어감-->
            <button type="button" class="pink-button" onclick="selectWrapperSubmit()">다음</button>
            <br><br><br>
        </div>
        <!--    포장지 리스트 보여줌-->
        <div class="wrapperList">
            <div th:each="wrapper : ${wrapperList}">
                <img class="wrapperImg"
                     th:src="${wrapper.imgUrl}"
                     th:alt="'포장지' + ${wrapper.id}" width="90px" height="90px">
                <span class="wrapperName" th:text="${wrapper.name}+'원'" style="margin-right: 20px;"></span>
                <span class="wrapperCost" th:text="${wrapper.cost}+'원'" style="margin-right: 5px"></span>
            </div>
            <br>


        </div>
    </div>
</div>
</html>
