<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/admin_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>책봄 관리자 페이지</title>
</head>
<!-- 메인 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/admin/point_rate.css}">-->
</th:block>
<!-- 메인 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/admin/point_rate.js}"></script>-->
</th:block>

<!-- Content -->
<div class="container-fluid" layout:fragment="content">
</div>
</html>
