<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/admin_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>책봄</title>
</head>
<!-- 메인 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/admin/order-list.css}">
</th:block>
<!-- 메인 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/page/admin/order-list.js}"></script>
</th:block>

<!-- Content -->
<div class="container-fluid" layout:fragment="content">
    <div class="row mb-3 d-flex flex-column">
        <div class="col-md-10 d-flex">
            <div class="btn-group" role="group" style="margin-right: 20px">
                <button class="btn btn-outline-secondary me-2" onclick="setDateRange('year')" type="button">최근 1년
                </button>
                <button class="btn btn-outline-secondary me-2" onclick="setDateRange('week')" type="button">1주일</button>
                <button class="btn btn-outline-secondary me-2" onclick="setDateRange('month')" type="button">1개월
                </button>
                <button class="btn btn-outline-secondary me-2" onclick="setDateRange('threeMonths')" type="button">3개월
                </button>
            </div>
            <input class="form-control me-2" id="date_from" name="date_from" placeholder="시작 날짜" style="width: 200px;"
                   type="date">
            <input class="form-control me-2" id="date_to" name="date_to" placeholder="종료 날짜" style="width: 200px;"
                   type="date">
        </div>
        <div class="col-md-5" style="margin-top: 20px">
            <!-- 정렬 조건 -->
            <div class="mb-3">
                <label class="form-label">정렬 순서</label>
                <div class="d-flex">
                    <div class="form-check m-2">
                        <input checked class="form-check-input" id="none" name="sort_order" type="radio"
                               value="none">
                        <label class="form-check-label" for="none">
                            없음
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="recent" name="sort_order" type="radio"
                               value="recent">
                        <label class="form-check-label" for="recent">
                            최근 주문순
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="old" name="sort_order" type="radio" value="old">
                        <label class="form-check-label" for="old">
                            오래된 주문순
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="expected_delivery" name="sort_order" type="radio"
                               value="expected_delivery">
                        <label class="form-check-label" for="expected_delivery">
                            배송 예정일 순
                        </label>
                    </div>
                </div>
            </div>
            <!-- 목록 선택 -->
            <div class="mb-3 justify-content-between align-items-center">
                <label class="form-label">배송 상태</label>
                <div class="d-flex">
                    <div class="form-check m-2">
                        <input checked class="form-check-input" id="all" name="delivery_status" type="radio"
                               value="all">
                        <label class="form-check-label" for="all">
                            모두
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="before" name="delivery_status" type="radio" value="대기">
                        <label class="form-check-label" for="before">
                            배송 전
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="completed" name="delivery_status" type="radio"
                               value="배송중">
                        <label class="form-check-label" for="completed">
                            배송 중
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="pending" name="delivery_status" type="radio"
                               value="완료">
                        <label class="form-check-label" for="pending">
                            배송 완료
                        </label>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" id="cancel" name="delivery_status" type="radio"
                               value="취소">
                        <label class="form-check-label" for="cancel">
                            취소
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary" onclick="submitDates()" type="button">조회하기</button>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
        <button class="btn btn-outline-primary" onclick="submitDates()" type="button">발송처리</button>
    </div>

    <!-- 테이블 -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">선택</th>
            <th scope="col">주문번호</th>
            <th scope="col">주문일자</th>
            <th scope="col">주문자</th>
            <th scope="col">상품명</th>
            <th scope="col">배송예정일</th>
            <th scope="col">배송완료일</th>
            <th scope="col">진행상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td class="text-center"><input class="form-check-input" type="checkbox"/></td>
            <td class="truncate-text" th:text="${order.orderNumber}">12345</td>
            <td th:text="${order.orderDate}">2024-05-01</td>
            <td class="truncate-text" th:text="${order.senderName}">John Doe</td>
            <td th:text="${order.orderInfo}">Product ABC</td>
            <td th:text="${order.expectedDeliveryDate}">2024-05-10</td>
            <td th:text="${order.completeDeliveryDate == null ? '' : order.completeDeliveryDate}">2024-05-12</td>
            <td th:text="${order.status}">배송중</td>
        </tr>
        </tbody>
    </table>
</div>
</html>
