<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <meta charset="UTF-8">
</head>
<!-- 메인 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- 메인 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/page/admin/point_rate.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content" class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>포인트 적립 정책</th>
            <th>적립 방식</th>
            <th>포인트 적립율</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="policy : ${policies}" th:attr="data-id=${policy.id}">
            <td th:text="${policy.name}"></td>
            <td class="earnType" th:text="${policy.earnType.value}"></td>
            <td class="earnPoint"
                th:text="${policy.earnType.value eq '비율' ? policy.earnPoint + '%' : policy.earnPoint + ' 포인트'}"></td>
            <td>
                <button type="button" class="btn btn-primary">수정</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
