<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}" lang="ko">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/user/my-page.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/page/user/my-page.js}"></script>
</th:block>

<div class="container mt-5 set-password justify-content-center" layout:fragment="content">
    <div class="row">
        <div class="col-md-3">
            <span class="fw-bold fs-4">쇼핑</span>
            <ul class="list-group mb-3">
                <li class="list-group-item member-link" th:data-href="@{/users/orders}">주문 내역</li>
                <li class="list-group-item member-link" th:data-href="@{/users/wishes}">찜 목록</li>
                <li class="list-group-item member-link" th:data-href="@{/users/coupons}">쿠폰함</li>
                <li class="list-group-item member-link" th:data-href="@{/users/point-history}">포인트 적립/사용 목록</li>
            </ul>
            <!-- 회원 정보 -->
            <span class="fw-bold fs-4">회원 정보</span>
            <ul class="list-group mb-3">
                <li class="list-group-item member-link">회원 정보 수정</li>
                <li class="list-group-item member-link" th:data-href="@{/users/update-private}">비밀 번호 수정</li>
                <li class="list-group-item member-link">나의 주소록</li>
                <li class="list-group-item member-link">나의 리뷰 목록</li>
                <li class="list-group-item member-link">나의 회원 등급</li>
            </ul>
            <form th:action="@{/members/withdraw}" th:method="delete">
                <button type="submit" class="btn btn-link p-0 border-0 member-withdraw"
                        style="color: #dc3545">회원 탈퇴
                </button>
            </form>
        </div>

        <!-- 우측 영역 -->
        <div class="col-md-9">
            <h2>비밀번호 변경</h2>
            <form action="" class="col-md-8" method="post" th:action th:object="${setPasswordRequest}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">전체 오류 메시지</p>
                </div>
                <div>
                    <label class="form-label" for="password">현재 비밀번호</label>
                    <input class="form-control" type="password" id="prePassword" name="prePassword"
                           placeholder="현재 비밀번호"
                           th:errorclass="field-error" th:field="*{prePassword}" required>
                    <div class="field-error" th:if="${#fields.hasErrors('prePassword')}"
                         th:errors="*{prePassword}"></div>
                </div>
                <div>
                    <label class="form-label" for="password">새 비밀번호</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="새 비밀번호"
                           th:errorclass="field-error" th:field="*{password}" required>
                    <div class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <div>
                    <label class="form-label" for="password">비밀번호 확인</label>
                    <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                           placeholder="비밀번호 확인"
                           th:errorclass="field-error" th:field="*{confirmPassword}" required>
                    <div class="field-error" th:if="${#fields.hasErrors('confirmPassword')}"
                         th:errors="*{confirmPassword}"></div>
                </div>
                <div>
                    <button type="submit">비밀번호 변경</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
