<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/coupon.css}">
    </th:block>
    <title>내 쿠폰함</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="row justify-content-center">
        <div class="col-md-2 leftContainer">
            <h2>내 쿠폰함</h2>
            <a href="/mycoupons"><h4 class="thisPage">보유 쿠폰</h4></a>
            <a href="/mycoupons/detail"><h4>쿠폰 상세 내역</h4></a>
        </div>
        <div class="col-md-7 rightContainer">
            <div class="couponTotalCount">쿠폰 수 : <span th:text="${totalCouponCount}"></span>장</div>
            <div class="couponlistContainer">
                <div th:each="coupon : ${mycoupons}" th:attr="class='couponContainer '+${coupon.status.name()}">
                    <span class="couponName" th:text="${coupon.name}">쿠폰 이름</span><br />
                    <span class="couponDiscountContent" th:text="${coupon.discountCost} + ${coupon.discountType.name() == 'COST' ? '원' : '%'} + ' 할인'"></span>
                    <span class="couponDate" th:text="'~ '+${coupon.expireDate.toString()}"></span>
                    <br/>
                    <span class="couponUsable" th:text="'적용대상: ' + ${coupon.title != null ? '도서) ' + coupon.title : (coupon.categoryName != null ? '카테고리) ' + coupon.categoryName : '전체 사용 가능')}"></span>
                    <br/>
                    <span class="couponMin" th:text="'최소 주문 금액: '+${coupon.minOrderCost} + '원'">최소 주문 금액</span>
                    <span class="couponMax" th:text="'최대 할인 금액: '+${coupon.maxDiscountCost} + '원'">최대 할인 금액</span>
                </div>

                <nav aria-label="Page navigation" th:if="${mycoupons.totalElements > 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${mycoupons.number == 0} ? 'disabled'">
                            <a aria-label="Previous"
                               class="page-link"
                               th:href="@{/mycoupons (page=${mycoupons.number - 1}, size=${mycoupons.pageable.pageSize})}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${pageNum == mycoupons.number} ? 'active'"
                            th:each="pageNum : ${#numbers.sequence(0, mycoupons.totalPages - 1)}">
                            <a class="page-link"
                               th:href="@{/mycoupons (page=${pageNum}, size=${mycoupons.pageable.pageSize})}"
                               th:text="${pageNum + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${mycoupons.number + 1 == mycoupons.totalPages} ? 'disabled'">
                            <a aria-label="Next"
                               class="page-link"
                               th:href="@{/mycoupons (page=${mycoupons.number + 1}, size=${mycoupons.pageable.pageSize})}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>
</div>
</body>
</html>
