.list-group-item {
    border: none;
    background-color: transparent;
}

.list-group-item:hover {
    background-color: #f2f2f2;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.member-link {
    cursor: pointer;
}

.latest-order {
    cursor: pointer;
}

.member-withdraw {
    box-shadow: none;
    cursor: pointer;
}

.field-error {
    color: #dc3545;
}
