<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/page/admin_coupon.css">
    <title>쿠폰 정책</title>
</head>
<body>
<div class="container">
    <div class="createPolicyModal">
        <h4>정책 등록</h4>
        할인 방식: <select name="discountType" class="form-select-sm">
        <option value="cost">COST</option>
        <option value="rate">RATE</option>
    </select><br/>
        할인금액: <input name="discountAmount" type="text" class="form-control-sm"><br/>
        최소주문금액: <input name="minOrderAmount" type="text" class="form-control-sm"><br/>
        최대할인금액: <input name="maxDiscountAmount" type="text" class="form-control-sm">
        <button class="createBtn">등록</button>

    </div>

    <div class="row justify-content-center">
        <div class="titleContainer">
            <h2>쿠폰 정책</h2>
            <div class="topButtonContainer">
                <button class="btn btn-primary showModalBtn">정책 등록</button>
                <button class="btn btn-danger selectDeleteBtn">선택 삭제</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mainContainer">
            <div class="policyListContainer">
                <div th:each="policy : ${couponPolicyList}" class="row policyContainer"
                     th:id="${policy.couponPolicyId}">
                    <div class="col-md-1 checkboxContainer">
                        <input type="checkbox" th:id="${policy.couponPolicyId}">
                    </div>
                    <div class="col-md-8 policyContentContainer">
                        할인방식 <select name="discountType" class="form-select-sm" disabled>
                        <option th:text="${policy.discountType.name()}" selected hidden></option>
                        <option value="cost">COST</option>
                        <option value="rate">RATE</option>
                    </select><br/>
                        할인금액: <input type="text" class="form-control-sm" readonly
                                     th:value="${policy.discountCost}"><br/>
                        최소주문금액: <input type="text" class="form-control-sm" readonly
                                       th:value="${policy.minOrderCost}"><br/>
                        최대할인금액: <input type="text" class="form-control-sm" readonly
                                       th:value="${policy.maxDiscountCost}">
                    </div>
                    <div class="col-md-2 policyButtonContainer">
                        <button class="btn btn-success editBtn">수정</button>
                        <br/>
                        <button class="btn btn-danger deleteBtn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/page/admin_coupon.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
