<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../css/page/payment/tosssuccess.css"/>
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>책봄 결제 실패ㅠ</title>
</head>

<body>
<div class="wrapper w-100">
    <div class="box_section">
        <img src="https://static.toss.im/lotties/error-spot-no-loop-space-apng.png" width="160" height="160"></img>
        <h2 class="title">결제를 실패했어요</h2>
    </div>
</div>
<script type="module" src="./fail.js"></script>
</body>
</html>
