<head>
    <meta charset="utf-8" />
    <title>결제하기</title>
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script>
    var clientKey = 'test_ck_ex6BJGQOVDbEXGJvJJ558W4w2zNb'
    var tossPayments = TossPayments(clientKey) // 클라이언트 키로 초기화하기
    tossPayments
        .requestPayment('카드', {
            // 결제수단
            // 결제 정보
            amount: 30000,
            orderId: 'pNlQfRdsfesfd46',
            orderName: '낮잠자자! 외 1건',
            customerName: '김아무개',
            successUrl: 'http://localhost:8020/toss/success',
            failUrl: 'http://localhost:8020/toss/fail',
            flowMode: 'DIRECT',
            easyPay: '토스페이',

        })
        .catch(function (error) {
            if (error.code === 'USER_CANCEL') {
                // 결제 고객이 결제창을 닫았을 때 에러 처리
            } else if (error.code === 'INVALID_CARD_COMPANY') {
                // 유효하지 않은 카드 코드에 대한 에러 처리
            }
        })
</script>
</body>
