<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <meta charset="UTF-8">
</head>
<!-- 메인 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/search.css}">
</th:block>
<!-- 메인 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/page/search.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content" class="container my-5">
    <div class="row">
        <!-- 검색 결과 건수 -->
        <div class="col-md-12 mb-3 result">
            <p><span class="search-result" th:text="${keyword}">검색어</span>에 대한 결과가
                <span class="search-result" th:text="${totalItems}">3</span>건 있습니다.</p>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Buttons added to the left of the form -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link sort-condition" id="NONE" href="#">정확도순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sort-condition" id="POPULAR" href="#">인기도순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sort-condition" id="LATEST" href="#">신상품순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sort-condition" id="LOWEST_PRICE" href="#">낮은가격순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sort-condition" id="HIGHEST_PRICE" href="#">높은가격순</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-secondary select-all">전체선택</button>
                    <button type="button" class="btn btn-outline-secondary">장바구니</button>
                    <button type="button" class="btn btn-outline-secondary">바로구매</button>
                    <button type="button" class="btn btn-outline-secondary">좋아요</button>
                </div>
                <form class="d-flex">
                    <select class="form-select me-2 page-size" aria-label="page size select">
                        <option value="5">5개씩 보기</option>
                        <option value="10">10개씩 보기</option>
                        <option value="20">20개씩 보기</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <!-- 검색 조건 -->
        <div class="col-md-2 search-condition">
            <h5>검색 조건</h5>
            <div class="form-check">
                <input class="custom-checkbox form-check-input search-check"
                       style="justify-content: center; border: 1px solid rgba(62, 65, 68, 0.52);margin-top: 9px"
                       type="radio" id="book_title">
                <label class="form-check-label" for="book_title">도서명</label>
            </div>
            <div class="form-check">
                <input class="custom-checkbox form-check-input search-check"
                       style="align-items: center; border: 1px solid rgba(62, 65, 68, 0.52);margin-top: 9px"
                       type="radio" id="author">
                <label class="form-check-label" for="author">작가명</label>
            </div>
            <div class="form-check">
                <input class="custom-checkbox form-check-input search-check"
                       style="justify-content: center   ; border: 1px solid rgba(62, 65, 68, 0.52);margin-top: 9px"
                       type="radio" id="publisher">
                <label class="form-check-label" for="publisher">출판사명</label>
            </div>
        </div>

        <!-- 검색 결과 -->
        <div class="col-md-10">
            <div class="row flex-column">
                <!-- 검색 결과 카드 -->
                <div class="col-md-12 mb-6 border-bottom" th:each="book : ${books}">
                    <div class="card">
                        <!-- 카드 내용 -->
                        <div class="row g-0">
                            <div class="col-md-1 custom-checkbox">
                                <label th:for="${'bookCheckbox' + book.id}"></label>
                                <input type="checkbox" class="book-checkbox" th:id="${'bookCheckbox' + book.id}">
                            </div>
                            <!-- 이미지 -->
                            <div class="col-md-3">
                                <img th:src="${book.thumbnail != null} ? ${book.thumbnail} : '/images/no-image.jpg'"
                                     class="card-img-top img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <!-- 도서 정보 -->
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${book.title}">오늘부터 나를 고쳐 쓰기로 했다 - 다시 태어나지 않고도 삶을
                                        바꾸는 매일의 작은 습관들</h5>
                                    <p class="card-text">
                                        <span th:each="author : ${book.author}">
                                            <span th:text="${author.name}"></span>
                                            <span th:text="'(' + ${author.role} + ')'"></span>
                                            <span th:if="${!authorStat.last}">,</span>
                                        </span>
                                    </p>
                                    <p class="card-text"
                                       th:text="${book.publisherName} + ' · ' + ${#temporals.format(book.pubDate, 'yyyy. MM. dd')}">
                                        부키 · <span>2024. 04. 01</span>
                                    </p>
                                    <p class="card-text"><span class="fw-bold" th:text="${book.discountPrice} + '원'">12,000</span>
                                        <span class="text-muted original-price"
                                              th:text="${book.price} + '원'">15,000</span></p>
                                    <p class="card-text"><span th:text="${book.reviewRating}">4.8</span> /
                                        <span>리뷰(<span th:text="${book.reviewCount}">123</span>)개</span></p>
                                </div>
                            </div>
                            <div class="col-md-2 quantity-and-buttons">
                                <div class="row">
                                    <div class="col-6 col-md-12 quantity-input-group">
                                        <div class="input-group mb-3">
                                            <button class="btn btn-outline-secondary quantity-decrease quantity-button"
                                                    type="button">-
                                            </button>
                                            <input type="text" class="form-control quantity-input" placeholder=""
                                                   id="quantity${bookStat.index}"
                                                   value=1>
                                            <button class="btn btn-outline-secondary quantity-increase quantity-button"
                                                    type="button">+
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-12 btn-div">
                                        <button type="button" class="btn btn-primary custom-btn custom-primary">구매하기
                                        </button>
                                        <button type="button" class="btn btn-success custom-btn cart-btn">장바구니</button>
                                        <button type="button" class="btn btn-secondary custom-btn">좋아요</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" th:if="${totalItems > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/search(keyword=${keyword}, page=${currentPage - 1}, size=${pageSize}, search=${search}, sorted=${sorted})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${pageNum == currentPage} ? 'active'">
                        <a class="page-link"
                           th:href="@{/search(keyword=${keyword}, page=${pageNum}, size=${pageSize}, search=${search}, sorted=${sorted})}"
                           th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/search(keyword=${keyword}, page=${currentPage + 1}, size=${pageSize}, search=${search}, sorted=${sorted})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="modal" tabindex="-1" id="successModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>장바구니 담기에 성공하였습니다!<br>장바구니로 이동할까요?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                    <button type="button" class="btn btn-success" id="goToCart">예</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
