<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>책 등록 페이지</title>

    <!-- CSS -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/book/addbook.css}">
    </th:block>
    <!-- 자바스크립트 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/book/addbook.js}"></script>
    </th:block>

</head>


<div layout:fragment="content" class="container card-0 justify-content-center ">

    <div class="col-md-6 offset-md-3 mt-5">

        <th:block th:if="${success eq null}">
            <h1>책 등록</h1>
        </th:block>

        <th:block th:unless="${success eq null}">
            <h1 th:if="${success eq true}" style="color: blue">등록에 성공하였습니다.</h1>
            <h1 th:if="${success eq false}" style="color: red">등록에 실패하였습니다: [[${message}]]</h1>
        </th:block>


        <form accept-charset="UTF-8" th:object="${bookAddRequest}" th:action="@{/admin/addbook}" th:method="post"
              enctype="multipart/form-data">

            <div class="form-group mt-3">
                <label th:for="*{thumbnail}" class="mr-2">책 썸네일:</label>
                <input type="file" th:field="*{thumbnail}">
            </div>

            <hr>

            <div class="form-group">
                <label th:for="*{title}">책 제목</label>
                <input autofocus type="text" th:field="*{title}" class="form-control" required="required">
            </div>

            <hr>

            <div class="form-group">

                <label for="category_depth1">카테고리</label>
                <select class="form-control" id="category_depth1" name="categories"
                        onchange="setChildCategory(this, this.options[this.selectedIndex].className)">
                    <option class="0" value="none" disabled selected>카테고리 선택</option>
                    <option th:each="category : ${categories_depth1}"
                            th:text="${category.name}"
                            th:class="${category.getId()}"></option>
                </select>

            </div>

            <hr>

            <div class="form-group">
                <label for="taggenerator">책 태그</label>
                <div id="taggenerator">
                    <input type="text" id="taginput" name="taginput" class="taginput" size="50"
                           placeholder="태그 입력">
                    <i class="add" onclick="add()">+</i>
                </div>

                <div id="generatedtags">
                </div>
            </div>

            <hr>

            <div id="authorForm" class="form-group">
                <label>작가</label>
                <div class="authorContainer0">
                    <label>역할
                        <input name="authors[0].role" type="text" class="form-control" required="required"/>
                    </label>

                    <label>이름
                        <input name="authors[0].name" type="text" class="form-control" required="required"/>
                    </label>
                </div>
                <div id="addAuthorButton" style="padding-top: 1em;" class="add" onclick="addAuthor()">
                    작가 추가하기
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label th:for="*{publisher}">출판사</label>
                <input type="text" th:field="*{publisher}" class="form-control" required="required">
            </div>

            <hr>

            <div class="form-group">
                <label th:for="pubDate">출판일</label>
                <input type="date" th:field="*{pubDate}" class="form-control"
                       required="required">
            </div>

            <hr>

            <div class="form-group">
                <label th:for="*{isbn10}">10자리 ISBN</label>
                <input type="text" th:field="*{isbn10}" class="form-control" required="required">
            </div>

            <div class="form-group">
                <label th:for="*{isbn13}">13자리 ISBN</label>
                <input type="text" th:field="*{isbn13}" class="form-control" required="required">
            </div>

            <hr>

            <div class="form-group">
                <label th:for="*{index}">목차</label>
                <input type="text" th:field="*{index}" class="form-control" required="required">
            </div>

            <hr>
            <label for="editor">설명</label>
            <div id="editor" onfocusout="setDescription()"></div>

            <div class="form-group">
                <label th:for="description" style="display: none"></label>
                <input type="hidden" th:field="*{description}" class="form-control" required="required">
            </div>

            <hr>

            <div class="form-group">
                <label th:for="cost">정가</label>
                <input type="number" th:field="*{cost}" class="form-control" required="required">
            </div>

            <hr>

            <div class="form-group">
                <label th:for="discountCost">판매가</label>
                <input type="number" th:field="*{discountCost}" class="form-control" required="required">
            </div>

            <hr>

            <div class="form-group">
                <span>포장여부</span>
                <input type="radio" id="packagablechoice1" name="packagable" value="true" checked/>
                <label for="packagablechoice1">가능</label>

                <input type="radio" id="packagablechoice2" name="packagable" value="false"/>
                <label for="packagablechoice2">불가능</label>
            </div>

            <hr>

            <div class="form-group">
                <label th:for="status">상태</label>
                <select class="form-control" th:field="*{status}">
                    <option value="" selected>선택하세요</option>
                    <option value="FS">판매중</option>
                    <option value="EOS">판매종료</option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label th:for="stock">재고</label>
                <input type="number" th:field="*{stock}" class="form-control" required="required">
            </div>

            <hr>

            <button type="submit" class="btn btn-primary">등록</button>
            <button type="reset" class="btn btn-primary">취소</button>
        </form>
    </div>
</div>

<link id="gateWayURL" th:data-contextPath="${@environment.getProperty('bookbom.gateway-url')}"/>
<script>
    const GATEWAY_URL = document.querySelector("#gateWayURL").getAttribute("data-contextPath");
</script>

</html>
