<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${bookdetail.getId()}"></span>
<span th:text="${bookdetail.getTitle()}"></span>
<span th:text="${bookdetail.getDescription()}"></span>
<span th:text="${bookdetail.getIndex()}"></span>
<span th:text="${bookdetail.getPubDate()}"></span>
<span th:text="${bookdetail.getIsbn10()}"></span>
<span th:text="${bookdetail.getIsbn13()}"></span>
<span th:text="${bookdetail.getCost()}"></span>
<span th:text="${bookdetail.getDiscountCost()}"></span>
<span th:text="${bookdetail.getPackagable()}"></span>
<span th:text="${bookdetail.getStock()}"></span>
<span th:text="${bookdetail.getPublisher()}"></span>
<span th:text="${bookdetail.getPointRate()}"></span>
<span th:text="${bookdetail.getAuthors()}"></span>
<span th:text="${bookdetail.getTags()}"></span>
<span th:text="${bookdetail.getCategories()}"></span>
</body>
</html>