<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${bookDetail.getId()}"></span>
<span th:text="${bookDetail.getTitle()}"></span>
<span th:text="${bookDetail.getDescription()}"></span>
<span th:text="${bookDetail.getIndex()}"></span>
<span th:text="${bookDetail.getPubDate()}"></span>
<span th:text="${bookDetail.getIsbn10()}"></span>
<span th:text="${bookDetail.getIsbn13()}"></span>
<span th:text="${bookDetail.getCost()}"></span>
<span th:text="${bookDetail.getDiscountCost()}"></span>
<span th:text="${bookDetail.getPackagable()}"></span>
<span th:text="${bookDetail.getStock()}"></span>
<span th:text="${bookDetail.getPublisher()}"></span>
<span th:text="${bookDetail.getPointRate()}"></span>
<span th:text="${bookDetail.getAuthors()}"></span>
<span th:text="${bookDetail.getTags()}"></span>
<span th:text="${bookDetail.getCategories()}"></span>
</body>
</html>
