<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- 메인 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
<!--    <link rel="stylesheet" th:href="@{/css/page/signin.css}">-->
</th:block>
<!-- 메인 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<body>
<div layout:fragment="content" class="login-container justify-content-center">
    <h2>로그인</h2>
    <form id="signInForm" action="/dosignin" method="post">
        <div>
            <input type="text" id="email" name="email" placeholder="아이디(이메일)" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
    <div>
        <a href="/signup" onclick="findPassword()">회원가입</a>
        <a href="/find" onclick="findUsername()">아이디 찾기</a>
        <a href="/find" onclick="findPassword()">비밀번호 찾기</a>
    </div>
    <div>
        <a href="javascript:void(0)" onclick="orderSearch()">비회원 주문 조회</a>
    </div>
</div>
</body>
</html>
