body {
    background-image: url("https://static.toss.im/ml-illust/img-back_005.jpg");
}

body {
    background-color: #e8f3ff;
}

.box_section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 1%), 0 6px 6px rgb(0 0 0 / 6%);
    padding: 50px 50px 50px 50px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #333d4b;
    align-items: center;
    text-align: center;
    overflow-x: auto; /* Add this property for horizontal scrolling */
    white-space: nowrap; /* Prevent text wrapping */
}

#confirmPaymentButton {
    color: #f9fafb;
    background-color: #3182f6;
    margin: 30px 15px 0px 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    white-space: nowrap;
    text-align: center;
    /* vertical-align: middle; */
    cursor: pointer;
    border: 0 solid transparent;
    user-select: none;
    transition: background 0.2s ease, color 0.1s ease;
    text-decoration: none;
    border-radius: 7px;
    padding: 11px 16px;
    width: 250px;
}

#confirmPaymentButton {
    color: #fff;
    background-color: #1b64da;
}
