<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    th:fragment="adminSidebarFragment">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        도서 관리
    </div>

    <li class="nav-item">
        <a aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo" href="/admin/addbook">
            <span>책 등록</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <span>책 수정</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        주문 관리
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/orders">
            <span>주문 내역</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        쿠폰 관리
    </div>


    <li class="nav-item">
        <a aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo" href="/admin/coupons/policy">
            <span>쿠폰 정책</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/coupons">
            <span>쿠폰 발급</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        포인트 관리
    </div>


    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/point-rate">
            <span>포인트 정책</span>
        </a>
    </li>
</ul>
