<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment">
    <footer id="footer" class="my-5" style="background-color: #f8f9fa; color: #343a40; padding: 20px;">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-menu">
                        <img th:src="@{/images/logo.png}" alt="logo" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu">
                        <h2>Reference</h2>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="https://github.com/nhnacademy-be5-bom">Team Github</a>
                            </li>
                            <li class="menu-item">
                                <a>API Docs</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.erdcloud.com/d/FjTZu9Do6yNgQ9Rqc">ERD</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu">
                        <h2>About us</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="menu-list list-unstyled">
                                    <li class="menu-item">
                                        <a>김영택</a>
                                    </li>
                                    <li class="menu-item">
                                        <a>박지원</a>
                                    </li>
                                    <li class="menu-item">
                                        <a>송예진</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="menu-list list-unstyled">
                                    <li class="menu-item">
                                        <a>정보윤</a>
                                    </li>
                                    <li class="menu-item">
                                        <a>정현도</a>
                                    </li>
                                    <li class="menu-item">
                                        <a>전석준</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="footer-bottom">
        <div class="container">
            <hr class="m-0">
            <div class="row mt-3">
                <div class="col-md-6 copyright">
                    <p class="secondary-font">@ 2024 BookBom. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
