<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <div class="container py-2">
        <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

            <!--로고-->
            <div class="col-sm-2 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                    <a href="/">
                        <img th:src="@{/images/logo.png}" alt="logo" class="img-fluid">
                    </a>
                </div>
            </div>
            <!--pc 버전(가로해상도 넓은경우) 검색창-->
            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
                <div class="search-bar border rounded-2 px-3 border-dark-subtle">
                    <form id="search-form" class="text-center d-flex align-items-center" action="/search"
                          method="get">
                        <input type="text" name="keyword" class="form-control border-0 bg-transparent"
                               placeholder="검색할 도서 이름을 입력하세요"/>
                        <button type="submit" class="btn" style="background: none; border: none; padding: 0;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                <div class="d-none d-lg-flex align-items-end">
                    <ul class="d-flex justify-content-end list-unstyled m-0">
                        <li>
                            <a href="account.html" class="mx-3">
                                <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
                            </a>
                        </li>
                        <li>
                            <a href="wishlist.html" class="mx-3">
                                <iconify-icon icon="mdi:heart" class="fs-4"></iconify-icon>
                            </a>
                        </li>

                        <li class="">
                            <a href="/cart" class="mx-3">
                                <iconify-icon icon="mdi:cart" class="fs-4 position-relative"></iconify-icon>
                                <span class="position-absolute translate-middle badge rounded-circle bg-primary pt-2">
                                <!--장바구니 아이템 갯수-->
                                333
                              </span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="container-fluid">
        <hr class="m-0">
    </div>

    <div class="container">
        <nav class="main-menu d-flex navbar navbar-expand-lg ">

            <div class="d-flex d-lg-none align-items-end mt-3">
                <ul class="d-flex justify-content-end list-unstyled m-0">
                    <li>
                        <a href="account.html" class="mx-3">
                            <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" class="mx-3">
                            <iconify-icon icon="mdi:heart" class="fs-4"></iconify-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                           aria-controls="offcanvasCart">
                            <iconify-icon icon="mdi:cart" class="fs-4 position-relative"></iconify-icon>
                            <span class="position-absolute translate-middle badge rounded-circle bg-primary pt-2">
                  <!--모바일 버전 장바구니 아이템 갯수-->
                  999
                </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch"
                           aria-controls="offcanvasSearch">
                            <iconify-icon icon="tabler:search" class="fs-4"></iconify-icon>
                        </a>
                    </li>
                </ul>

            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body justify-content-between">

                    <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0">

                        <!-- 카테고리 메뉴 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-link" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                카테고리
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"
                                style=" max-height: 20em; overflow-y: scroll;">
                                <th:block th:if="${@CategoryService ne null}"
                                          th:with="depthOneCategories=${@CategoryService.getDepthOneCategories()}">
                                    
                                    <th:block th:each="category_d1 : ${depthOneCategories}">
                                        <li id="category_depth1">
                                            <button type="button" class="dropdown-item categorypop"
                                                    data-bs-toggle="popover"
                                                    th:unless="${category_d1.getId() eq 1}"
                                                    th:title="|${category_d1.name} 하위 카테고리 목록|"
                                                    th:text="${category_d1.name}"
                                                    th:href="@{/category/{categoryId}(categoryId=${category_d1.getId()})}"
                                                    th:id="${category_d1.getId()}">
                                            </button>
                                        </li>
                                    </th:block>

                                </th:block>

                                <th:block th:if="${@CategoryService eq null}">
                                    <li>
                                        <a class="dropdown-item">카테고리를 받아오지 못했습니다.</a>
                                    </li>
                                </th:block>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/best-seller" class="nav-link">베스트</a>
                        </li>
                        <li class="nav-item">
                            <a href="/latest" class="nav-link">신상품</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link active">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a href="shop.html" class="nav-link">회원가입</a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>

    </div>
    <script src="/js/header.js"></script>
    <link id="gateWayURL" th:data-contextPath="${@environment.getProperty('bookbom.gateway-url')}"/>
    <script>
        const GATEWAY_URL = document.querySelector("#gateWayURL").getAttribute("data-contextPath");
    </script>
</header>
</html>
