<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>

<th:block>
    <link rel="stylesheet" th:href="@{/css/page/signup.css}">
    <script th:src="@{/js/page/signup.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>

<body>
<div class="container">
    <h2>회원가입</h2>
    <form id="signupForm" action="/signup" method="post">
        <div class="form-group">
            <label for="email">아이디 (이메일)</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">비밀번호 재입력</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="nickname">별명</label>
            <input type="text" id="nickname" name="nickname" required>
        </div>
        <div class="form-group">
            <label for="birthDate">생년월일</label>
            <input type="date" id="birthDate" name="birthDate" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">전화번호</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required>
        </div>
        <div class="form-group">
            <label for="addressNumber"></label>
            <input type="text" id="addressNumber" name="addressNumber" placeholder="우편번호">
        </div>
        <div class="form-group">
            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        </div>
        <div class="form-group">
            <label for="address"></label>
            <input type="text" id="address" name="address" placeholder="주소"><br>
        </div>
        <div class="form-group">
            <label for="addressDetail"></label>
            <input type="text" id="addressDetail" name="addressDetail" placeholder="상세주소">
        </div>
        <button type="submit">가입완료</button>
    </form>
</div>
</body>
</html>
