<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/wish.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/wish.js}"></script>
    </th:block>
    <title>찜</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <h2 class="mb-5">찜 목록</h2>
    <div class="d-flex justify-content-start mb-3">
        <div class="custom-control custom-checkbox me-3">
            <input class="custom-control-input" type="checkbox" value="" id="checkAll">
            <label class="custom-control-label" for="checkAll">
                전체 선택
            </label>
        </div>
        <button type="button" class="btn btn-danger align-self-center">선택 삭제</button>
    </div>

    <table class="table">
        <tbody th:each="wish:${wishList}">
        <tr th:id="${wish.id}">
            <td class="align-middle">
                <div class="d-flex align-items-center">
                    <div class="custom-control custom-checkbox me-2">
                        <input class="custom-control-input" type="checkbox" value="" id="item1">
                        <label class="custom-control-label" for="item1"></label>
                    </div>
                    <img th:src="${wish.url}" class="img-thumbnail me-3">
                    <div>
                        <div th:text="${wish.title}"></div>
                        <div th:text="${wish.publisher}"></div>
                        <div>
                            <span class="fw-bold" th:text="${wish.cost}+'원'"></span>
                            <span class="text-muted original-price" th:text="${wish.discountCost}+'원'"></span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center align-middle">
                <button type="button" class="btn btn-general">
                    <img src="/images/cart.png" alt="장바구니 추가 버튼">
                </button>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-general">
                    <img src="/images/full_heart.png" alt="좋아요 해제 버튼">
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
