/* 체크박스 스타일링 */
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
/* 상품 가격 */
.original-price {
    text-decoration: line-through;
    color: grey; /* 연한 회색으로 설정 */
    margin-right: 10px; /* 오른쪽에 있는 가격과의 간격 */
}

/* 수량 */
.quantity-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 수량 버튼 */
.quantity-input-group .btn {
    width: 45px; /* 버튼의 너비를 늘립니다. */
    height: 40px; /* 버튼의 높이를 일치시킵니다. */
    font-size: 1rem;
    border-radius: 0.2rem;
    display: flex; /* 내부 요소를 가운데 정렬하기 위해 */
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

/* 수량 입력 필드 */
.quantity-input {
    max-width: 55px;
    max-height: 40px;
}

/* 삭제 버튼 */
.btn-danger {
    align-self: center;
}

/* 상품 목록 */
td {
    vertical-align: middle;
}

