.main {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    margin: 3%;
}
.side {
    width: 30%;
    margin: 3%;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}
table {
    border-collapse: separate;
    border-spacing: 5px;
}
td {
    padding: 30px;
}
.order-table {
    border: 1px solid black;
    padding: 10px;
}
.delivery-info {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    background-color: #8a8a8a;
}
.delivery-input {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}
.non-member-info {
    width :30%;
    display: inline-block;
    vertical-align: top;
    border-left : 1px solid black;
    padding: 10px;
}
.delivery input {
    margin: 5px;
}
.delivery-input button {
    margin-left:10px;
}
.delivery-info label{
    margin : 7px;
}
.delivery-select {
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
}
.delivery-select button {
    height: 40px;
    width: 100px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 5px;
}
.delivery-select button:hover {
    background-color: #ff69b4;
}
.delivery-select button.selected {
    background-color: #ff69b4;

}
.coupon-select {
    margin-top: 30px;
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
}
.point-use {
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.pink-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
}


.pink-button:hover {
    background-color: #ff4f9f;
}

.side .info {
    margin-left: 30px;
    float: left;
}
.side label {
    display: inline-block;

}

.side .price{
    float: right;
    margin-right: 30px; /* 오른쪽 마진 추가 */
}
.payment {
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.payment button {
    height: 40px;
    width: 100px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 5px;
}
.payment button:hover {
    background-color: #ff69b4;
}
.payment button.selected {
    background-color: #ff69b4;
}