.main {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    margin: 3%;
}

.side {
    width: 30%;
    margin: 3%;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

td {
    padding: 30px;
}

.order-table {
    border: 1px solid black;
    padding: 10px;
}

.delivery-info {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    background-color: #8a8a8a;
    margin: 5px;
}

.delivery-input {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.delivery-input-member {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.non-member-info {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid black;
    padding: 5px;
}

.delivery input {
    margin: 6px;
}

.delivery-input button {
    margin-left: 10px;
}


.delivery-info label {
    margin: 7px;
    color: white;
}

.delivery-select {
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;

    display: flex; /* 부모 요소를 플렉스 컨테이너로 설정하여 내부 요소를 수평으로 정렬합니다. */
    flex-wrap: nowrap; /* 내부 요소가 한 줄에 정렬되도록 설정합니다. */
    justify-content: space-between; /* 내부 요소를 좌우로 분산 정렬합니다. */
    align-items: center; /* 내부 요소를 수직 가운데 정렬합니다. */
}

.delivery-select button {
    height: 40px;
    width: 100px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 5px;
}

.delivery-select > div {
    display: flex; /* 내부 div 요소를 플렉스 컨테이너로 설정하여 내부 요소를 수평으로 정렬합니다. */
}


.delivery-select button:hover {
    background-color: #ff69b4;
}

.delivery-select button.selected {
    background-color: #ff69b4;

}

.coupon-select {
    margin-top: 30px;
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
}

.coupon-select select {
    width: 400px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.coupon-select option[disabled] {
    color: white;
    background-color: #8a8a8a;
}


.point-use {
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.pink-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
}


.pink-button:hover {
    background-color: #ff4f9f;
}

.side .info {
    margin-left: 30px;
    float: left;
}

.side label {
    display: inline-block;

}

.side .price {
    float: right;
    margin-right: 30px; /* 오른쪽 마진 추가 */
}

.payment {
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.payment button {
    height: 40px;
    width: 100px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 5px;
}

.payment button:hover {
    background-color: #ff69b4;
}

.payment button.selected {
    background-color: #ff69b4;
}
